<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div>
    <table class="w-full table">
      <thead>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Image</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Name</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Description</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Price</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Category</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Actions</th>
      </thead>
      <tbody>
        <%@admin_products.each do |product| %>
          <tr id="<%= dom_id product %>">
            <td data-label="Image" class="border border-slate-300 bg-white text-left p-4">
              <%= product.images.present? ? image_tag(product.images.first.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %>
            </td>
            <td data-label="Name" class="border border-slate-300 bg-white text-left p-4"><%= product.name %></td>
            <td data-label="Descrition" class="border border-slate-300 bg-white text-left p-4"><%= product.description %></td>
            <td data-label="Name" class="border border-slate-300 bg-white text-left p-4"><%= number_to_currency(product.price) %></td>
            <td data-label="Name" class="border border-slate-300 bg-white text-left p-4"><%= product.category.name %></td>
            <td data-label="Action" class="border border-slate-300 bg-white text-left p-4">
              <%= link_to 'Show', admin_product_path(product) %> | <%= link_to 'Edit', edit_admin_product_path(product) %> | <%= link_to 'Destroy', admin_product_path(product), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to destroy this product?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
